header {
  height: 60px;
  background-color: #171219;
}

#hero {
  padding-top: 60px;
  height: 100vh;
}

/* #about {
  height: 100vh;
} */

.about-img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
}

#comment textarea {
  height: 150px;
}
#comment button {
  width: 200px;
}

#footer i {
  margin: auto 10px;
}
